<a href="https://colab.research.google.com/github/kaustubhgupta/analytics-vidhya-demo/blob/main/Model_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('C:\\Users\\t0244374\\Desktop\\ML\\analytics-vidhya-demo-main\\dataset\\cleaned_dataset.csv')

In [4]:
df_model = df[['avg_salary','Sector','python_yn','job_sim','R_yn','tableau','power bi','ml','dl', 'Rating']]
df_dum = pd.get_dummies(df_model)

In [6]:
df_model

,avg_salary,Sector,python_yn,job_sim,R_yn,tableau,power bi,ml,dl,Rating
0,72.0,Aerospace & Defense,1,data scientist,0,1,1,1,0,3.8
1,87.5,Health Care,1,data scientist,0,0,0,1,0,3.4
2,85.0,Business Services,1,data scientist,0,0,0,1,0,4.8
3,76.5,"Oil, Gas, Energy & Utilities",1,data scientist,0,0,0,1,1,3.8
4,114.5,Business Services,1,data scientist,0,0,0,1,0,2.9
...,...,...,...,...,...,...,...,...,...,...
737,84.5,Biotech & Pharmaceuticals,0,na,0,0,0,0,0,3.9
738,102.5,Information Technology,1,data engineer,0,0,0,1,0,4.4
739,73.5,Education,0,na,0,0,0,1,0,2.6
740,127.5,Business Services,0,manager,0,0,0,1,0,3.2
741,93.5,Government,1,na,0,0,0,1,0,3.6

In [11]:
from sklearn.model_selection import train_test_split

X = df_dum.drop('avg_salary', axis = 1)
y = df_dum.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [12]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()

In [ ]:
# 22 minutes process

from sklearn.model_selection import GridSearchCV
parameters = {
    "n_estimators": range(10, 400, 10),
    "criterion": ['mse','mae'],
    "max_features": ['auto','sqrt','log2']
    }

gs = GridSearchCV(regressor, param_grid = parameters, scoring = 'neg_mean_absolute_error', cv = 5)
gs.fit(X_train, y_train)

In [18]:
gs.best_score_

-16.88977942984789

In [ ]:
y_pred = gs.best_estimator_.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

In [ ]:
import pickle
filename = 'random_forest_model.pkl'
pickle.dump(gs.best_estimator_, open(filename, 'wb'))

In [16]:
model_columns = list(X.columns)
with open('columns.pkl','wb') as file:
    pickle.dump(model_columns, file)